<app-loading></app-loading> <!--Import the loading-->

<button mat-raised-button color="primary" routerLink="all">all Posts</button>
<button mat-raised-button color="accent" routerLink="new">new Posts</button>
<button mat-raised-button color="warn" routerLink="update">update Posts</button>
<button mat-raised-button color="primary" routerLink="delete">delete Posts</button>
<button mat-raised-button color="warn" routerLink="find">find Posts</button>

<hr>

<router-outlet></router-outlet> <!--import all crud component-->
